<section id="about">
	<div id="header-triangle-wrapper">
		<div id="about-me-header">
			<h1>Websites that help <em>you</em> succeed. Built from the ground up.</h1>
			<p> 19% of all commerce happens on the web. Get the most out of your online presence with a professional
				look that connects with your customers.</p>
			<img src="../images/envio-21.png" id="design-img" alt="">
		</div>
		<div id="triangle-card-wrapper" class="shapedividers_com-9802">
			<div class="triangle-card">
				<i class="fas fa-magic card-icon"></i>
				<div class="triangle-down"></div>
				<div class="card-header">Interactive</div>
				<div class="card-subtext">Fun and <span class="highlight">engaging</span> content.</div>
			</div>
			<div class="triangle-card">
				<i class="fas fa-icons card-icon"></i>
				<div class="triangle-down"></div>
				<div class="card-header">Compelling</div>
				<div class="card-subtext">
					Naturally flowing and <span class="highlight">immersive</span> designs.
				</div>
			</div>
			<div class="triangle-card">
				<i class="fas fa-tachometer-alt card-icon"></i>
				<div class="triangle-down"></div>
				<div class="card-header">Fast</div>
				<div class="card-subtext">
					Quick loading, <span class="highlight">lag free</span> pages.
				</div>
			</div>
			<div class="triangle-card">
				<i class="fas fa-expand-arrows-alt card-icon"></i>
				<div class="triangle-down"></div>
				<div class="card-header">Responsive</div>
				<div class="card-subtext">
					A beautiful website on <span class="highlight">any device</span>.
				</div>
			</div>
		</div>
	</div>
	<div id="site-types-wrapper">
		<div class="site-card">
			<div class="site-text">
				Restaurants
			</div>
		</div>
		<div class="site-card">
			<div class="site-text">
				Small Business
			</div>
		</div>
		<div class="site-card">
			<div class="site-text">
				E-Commerce
			</div>
		</div>
		<div class="site-card">
			<div class="site-text">
				Photography
			</div>
		</div>
	</div>
	<div id="skill-section">
		<div id="skill-selector">
			<ul id="skill-list">
				<li class="skill-li" id="js">Javascript/Typescript</li>
				<li class="skill-li" id="fe">CSS/FrontEnd</li>
				<li class="skill-li" id="react">ReactJS</li>
				<li class="skill-li" id="db">DB/CRUD Operations</li>
				<li class="skill-li" id="api">API Endpoints</li>
				<li class="skill-li" id="node">NodeJS/Express</li>
			</ul>
		</div>
		<div id="sample-container">
			<div id="position-card-wrapper">
				<div class="position-card js fe react">card 1 js fe react</div>
				<div class="position-card db api node">card 2 b api node</div>
				<div class="position-card db js fe">card 3 db js fe</div>
				<div class="position-card api node">card 4 api node</div>
				<div class="position-card js db react api">db react api js</div>
				<div class="position-card js db node api">db node js</div>
			</div>
		</div>
	</div>
</section>