<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0" />
		
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<title>William "Mickey" Daigle - Web Developer Portfolio</title>
		<meta property="og:img" content="	http://www.daigleportfolio.me/images/seo-image.jpg" />
		<script src="https://kit.fontawesome.com/10ec8a3f6c.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;500&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<link rel="stylesheet" href="/stylesheets/landing.css" />
		<link rel="stylesheet" href="/stylesheets/about.css" />
		<link rel="stylesheet" href="/stylesheets/skills.css" />
		<link rel="stylesheet" href="/stylesheets/work.css" />
		<link rel="stylesheet" href="/stylesheets/contact.css" />

	</head>