		<section id="home">
			<div id="colored-bars">
				<div class="bar-1 bar"></div>
				<div class="bar-2 bar"></div>
				<div class="bar-3 bar"></div>
				<div class="bar-4 bar"></div>
				<div class="bar-5 bar"></div>
				<div class="bar-6 bar"></div>
				<div class="bar-7 bar"></div>
				<div class="bar-8 bar"></div>
				<div class="bar-9 bar"></div>
				<div class="bar-10 bar"></div>
			</div>
			<div id="landing-wrapper">
				<div id="landing-header">	
			<h1>
				Hello! I'm <span id="my-name">William Daigle</span>.
			</h1>
			<h3>
				Your Friendly Neighborhood Web-Developer.
			</h3>
				<button onClick="scrollToSection('about')" id="landing-button">
				How can I help?<i class="fas fa-chevron-right"></i>
				</button>
				</div>
			</div>
		</section>