<div id="navbar">
	<ul>
		<li><button class="nav-button">home</button></li>
		<li><button class="nav-button">about</button></li>
		<li><button class="nav-button">work</button></li>
		<li><button class="nav-button">contact</button></li>
	</ul>
</div>