<section id="work">
	<div id="testimonial-wrapper">
		<div id="quote-wrapper">
			
		<div class="quote slideIn active-el">
			<p>
			"WOW VERY GOOD WORK"
			</p>
		</div>
		<div class="quote">
			<p>
			"You're a better developer"
			</p>
		</div>
		<div class="quote">
			<p>
			"Excellent employee, picks up stuff quick"
			</p>
		</div>
		<div class="quote">
			<p>
			"A great website built quick!"
			</p>
		</div>
		</div>
		<div id="quoter-wrapper">
			<div class="quoter slideInFaster">
				<p>-SOMEBODY, EVENTUALLY</p>
			</div>
			<div class="quoter ">
				<p>- Founder, Playfull</p>
			</div>
			<div class="quoter ">
				<p>- Tom</p>
			</div>
			<div class="quoter ">
				<p>- Jacob Sarkonian, former client</p>
			</div>
		</div>
	</div>
	<div id="work-wrapper">
		<div class="work-header">
			<p>Check out some samples!</p>
			<div id="selector-box">
				<button class="work-selector">Show All</button>
				<button class="work-selector">API</button> 
				<button class="work-selector">Front-End</button> 
				<button class="work-selector">CRUD</button> 
				<button class="work-selector">React</button>
			</div>	
		</div>
		<div id="position-card-wrapper">
			<div class="position-card API Front-End CRUD">1 position CARD NODE</div>
			<div class="position-card Front-End Express">2 position CARD NODE REACT</div>
			<div class="position-card Front-End CRUD React">3 position CARD EXPRESS</div>
			<div class="position-card Front-End API">4 position CARD EXPRESS NODE</div>
			<div class="position-card Front-End React">5 position CARD MONGO</div>
			<div class="position-card CRUD Front-End API">6 position CARD MONGO EXPRESS NODE</div>
		</div>
		<div id="display-card-wrapper">
			<div class="work-display-card API Front-End CRUD"><a href="https://www.flavortheory.me" target="_blank"><img class="work-image" src="../images/flavorTheory.png"></a></div>
			<div class="work-display-card Front-End Express"><a href="samples/3dtext" target="_blank"><img class="work-image" src="../images/3dtext.png"></a></div>
			<div class="work-display-card Front-End CRUD React"><a href="https://achievement-list.herokuapp.com/" target="_blank"><img class="work-image" src="../images/achievement-list.jpg"></a></div>
			<div class="work-display-card Front-End API"><a href="samples/basketball" target="_blank"><img class="work-image" src="../images/nba_box_score.jpg"></a></div>
			<div class="work-display-card Front-End React"><a href="samples/5word" target="_blank"><img class="work-image" src="../images/5word.jpg"></a></div>
			<div class="work-display-card CRUD Front-End API">MORE SAMPLES COMING SOON!</div>
		</div>
	</div>
</section>