<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@600&family=Red+Hat+Display:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"
        rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../stylesheets/resume.css">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div id="header">
        <p id="name-title">William Daigle <br><span id="title">Web Developer</span></p>
        <div id="profile">
            <p>Las Vegas, NV | DaigleWilliam13@gmail.com</p>
            <p id="description">A tech-savvy developer with strong working knowledge of JavaScript and related
                technologies, frameworks, and libraries. Specialties in React, Node/Express, SEO, TypeScript and skilled with
                asyncronous callbacks (promises, async/await).</p>
            <div id="portfolio-info">
                <p>Portfolio and GitHub:</p>
                <ul>
                    <li><a href="https://www.daigleportfolio.me" target="_blank">https://www.daigleportfolio.me</a></li>
                    <li><a href="https://www.github.com/daiglewilliam13"
                            target="_blank">https://www.github.com/daiglewilliam13</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="main-content">
        <div id="content-wrapper">
            <div id="skills-list">
                <h3>Skills:</h3>
                <ul>
                    <li class="fromRight">React</li>
                    <li class="fromRight">Redux</li>
                    <li class="fromRight">TypeScript</li>
                    <li class="fromRight">Node.js/Express.js</li>
                    <li class="fromRight">HTML5</li>
                    <li class="fromRight">CSS3, SASS</li>
                    <li class="fromRight">MongoDB/Non-relation databases</li>
                    <li class="fromRight">MYSQL</li>
                    <li class="fromRight">RESTful APIs</li>
                    <li class="fromRight">WordPress/Wix</li>
                    <li class="fromRight">Shopify/GumRoad/Storenvy</li>
                    <li class="fromRight">Material UI</li>
                    <li class="fromRight">Bootstrap</li>
                    <li class="fromRight">C#</li>
                    <li class="fromRight">Java</li>
                    <li class="fromRight">Python</li>
                    <li class="fromRight">AJAX/Fetch/Axios</li>

                </ul>
            </div>
            <hr>
            <div id="work-history">
                <h3>Work History:</h3>
                <div class="job-wrapper">
                    <p class="job-title">Freelance Web Developer</p>
                    <p class="company">Self-Employed</p>
                    <p class="location">Las Vegas, NV | </p>
                    <p class="duration">August 2019-present</p>
                    <p class="job-duties">Freelance web development. Static Pages, SPA (React, Node.js),
                        E-Commerce/WYSIWYG
                        (Shopify, WordPress, Wix, Webflow). Code performant web-pages using JavaScript, HTML, CSS, and
                        various technologies. Asyncronous callbacks with Axios/Fetch to Databases (MongoDB/MYSQL).
                        Optimize SEO with meta tags, descriptions, semantic URLS. Writing Unit Tests for various
                        functions. Building React Apps/Components using functional syntax and hooks. State management
                        experience with Redux and/or Higher Order Components. Managed high-traffic sites with over
                        10,000 unique monthly visitors.</p>
                </div>
                <div class="job-wrapper">
                    <p class="job-title">Food Service Director</p>
                    <p class="company">Aramark</p>
                    <p class="location">Los Angeles, CA | </p>
                    <p class="duration">Jan 2019-June 2020</p>
                    <p class="job-duties">Managed a team of 25 to collaborate on daily goals and deadlines with monthly
                        sales regularly reaching $40,000. Coordinated schedules and duties from many different depts to
                        bring quality product that's always on time and on budget</p>
                </div>
                <div class="job-wrapper">
                    <p class="job-title">Private Chef</p>
                    <p class="company">Self-Employed</p>
                    <p class="location">Santa Monica, CA | </p>
                    <p class="duration">March 2018 - August 2018</p>
                    <p class="job-duties">Developed and Executed daily menus for 20 people based on rigorous dietary and
                        caloric needs. Always under budget and always on time.</p>
                </div>
                <div class="job-wrapper">
                    <p class="job-title">Executive Sous Chef</p>
                    <p class="company">Playa Provisions</p>
                    <p class="location">Playa Del Rey, CA | </p>
                    <p class="duration">July 2017 - Jan 2018</p>
                    <p class="job-duties">Managed a team of 20 people to deliver daily sales in the $15,000 range.
                        Reduced labor cost by 3% and food cost by 5% with the implementation of logical and easy to
                        follow policies. </p>
                </div>
                <div class="job-wrapper">
                    <p class="job-title">Executive Chef</p>
                    <p class="company">The Darkroom</p>
                    <p class="location">Hollywood, CA | </p>
                    <p class="duration">April 2013 - July 2017</p>
                    <p class="job-duties">Developed and Costed out New American style menus. Trained staff on procedure
                        and policies in accordance with labor laws. Raised yearly sales by $200,000 and lowered
                        food/labor cost by an average of 4%. Prepare and serve food for regular catering events for
                        200+ guests. </p>
                </div>
            </div>
        </div>
    </div>
    <script src="resume.js" async defer></script>
</body>

</html>