<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>William "Mickey" Daigle: A Portfolio</title>
	<link rel="stylesheet" href="css/style.css">
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body id="home">
	<div>
			<h1>Welcome</h1>
	</div>
	<div>
		<h2>
			William "Mickey" Daigle: A [junior] Web-Developer.
		</h2>
		<p>
			Approx three years experience specializing in Node.js/Express web-apps, HTML5, CSS, Javascript, and popular frameworks(Bootstrap, Angular)/libraries(React, JQuery)
		</p>
	</div>
	<div>
		<p>
			Here are some samples of my work:
		</p>
		<p>
			<a href="https://enigmatic-tundra-08092.herokuapp.com" target="_blank">A yelp clone using Bootstrap</a>
		</p>
		<p>
			<a href="https://www.flavortheory.me" target="_blank">A Blogging website connected to MongoDB and Google Cloud Platform (for image hosting) </a>
		</p>
		<p>
			<a href="https://codepen.io/daiglewilliam13" target="_blank">My CodePen to showcase other Javascript/HTML/CSS knowledge and fundamentals </a>
		</p>
		<p>
			<a href="/more">Learn more about my skills and experience</a>
		</p>
	</div>
</body>
	<footer>Copyright 2021 William "Mickey" Daigle</footer>
</html>