<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>William "Mickey" Daigle, a deeper dive</title>
	<link rel="stylesheet" href="/stylesheets/main.css">
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;500&display=swap" rel="stylesheet"> 
</head>

<body id="home">

	<h1>So you'd like to know more? Same.</h1>
	<div>
		<p>
			Currently Under Construction...Check back soon for more updates.
		</p>
		<p>
			<a href='/'>Back to Homepage</a>
		</p>
	</div>

</body>
</html>