input.letter-input {
    width: 2rem;
    font-size:2rem;
}

button.submit-button {
    font-size:2rem;
}

input.direct-hit {
    background-color:green;
}

input.side-hit {
    background-color:yellow;
}

input.no-hit {
    background-color: black;
}