/* ABOUT SECTION */

/* MOBILE */
#about {
	display: flex;
	flex-direction: column;
}

#about-me-header {
	text-align: center;
	margin: 0;
	background-color: #9f81cd;
	width: 100%;
	padding: 3rem 0;
	position: relative;
}

#about-me-header h1 {
	margin: 0;
	font-size: 2rem;
	margin: 0 auto;

}

#triangle-card-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 5rem 0;
}

.triangle-card {
	width: 40%;
	margin: 0 .5rem .5rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.highlight {
	color: #f198af;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 3rem solid transparent;
	border-right: 3rem solid transparent;
	border-top: 5rem solid #9f81cd;
	margin: 0;
	transition: .2s;
}

.card-icon {
	z-index: 1;
	position: relative;
	height: 0;
	top: 0.8rem;
	font-size: 2rem;
	color: white;
}

.card-header {
	font-size: 1.2rem;
}

.card-subtext {
	font-weight: 300;
}

#about hr {
	width: 55%;
	margin: 1rem auto;
}

#site-types-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-top: 5rem;
	justify-content: center;

}

.site-card {
	width: 100%;
	height: 20rem;
	margin: 10px;
	background-color: #9f81cd;
	box-sizing: border-box;
	transition: 200ms ease-in-out;

}

.site-text {
	background-color: #9f81cd;
	height: 100%;
}

#design-img {
	width: 60%;
	max-width: 700px;
}

/* DESKTOP */

@media screen and (min-width: 685px) {

	#header-triangle-wrapper {
		display: flex;
		flex-direction: row-reverse;
	}

	#triangle-card-wrapper {
		padding: 5rem 2rem;
	}

	.triangle-card {
		width: 40%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

	}

	.highlight {
		color: #f198af;
	}

	.triangle-down {
		width: 0;
		height: 0;
		border-left: 4rem solid transparent;
		border-right: 4rem solid transparent;
		border-top: 6rem solid #9f81cd;
		margin: 0;
		transition: .2s;
	}

	.card-icon {
		z-index: 1;
		position: relative;
		height: 0;
		top: 0.8rem;
		font-size: 2.5rem;
		color: white;
	}

	.card-header {
		font-size: 1.2rem;
	}

	.card-subtext {
		font-weight: 300;
	}

	.site-card {
		width: 20rem;
		--g: 4px;
		/* the gap */
		--b: 12px;
		/* border thickness*/
		--c: #f198af;
		/* the color */


		padding: calc(var(--g) + var(--b));
		--_c: #0000 0 25%, var(--c) 0 50%;
		--_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
		--_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;
		background:
			var(--_g1) var(--_p, 25%) 0, var(--_g2) 0 var(--_p, 125%),
			var(--_g1) var(--_p, 125%) 100%, var(--_g2) 100% var(--_p, 25%);
		background-size: 200% var(--b), var(--b) 200%;
		cursor: pointer;
		filter: grayscale(50%);
		transition: 250ms ease-in-out;
	}

	.site-card:hover {
		--_p: 75%;
		filter: grayscale(0%);
	}

	hr {
		width: 55%;
		margin: 1rem auto;
	}
}


.shapedividers_com-9802 {
	overflow: hidden;
	position: relative;
}

.shapedividers_com-9802::before {
	content: '';
	font-family: 'shape divider from ShapeDividers.com';
	position: absolute;
	bottom: -1px;
	left: -1px;
	right: -1px;
	top: -1px;
	z-index: 3;
	pointer-events: none;
	background-repeat: no-repeat;
	background-size: 150% 47px;
	background-position: 50% 0%;
	background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000.4 84"><g fill="%239f81cd"><path d="M1937 49V11l1-1 18-10h29l15 9v41l-30 18-33-19z" opacity=".5"/><path d="M1867 30V0h59v30l-29 17-30-17z"/><path d="M1716 60V11l2-1 9-5 9-5h44l16 9 2 1 2 1v49l-42 24-42-24zM1844 44v20l17 10 17-10V44l-17-10-17 10z" opacity=".75"/><path d="M1811 59v13l11 6 10-6V59l-10-6-11 6z"/><path d="M1796 32V0h59v32l-30 17-25-15-4-2z" opacity=".5"/><path d="M1814 9V0h59v9l-3 1-3 2-12 7-11 6-27-15-3-1zM1902 50v19l16 9 16-9V50l-16-10-16 10zM1661 43V5l8-5h50l8 5v38l-11 6-22 13-33-19z"/><path d="M1591 24V0h58v24l-29 17-29-17z" opacity=".5"/><path d="M1431 54V5l6-3 3-2h66l5 3 4 2v49l-42 24-36-21-6-3zM1567 38v20l17 10 18-10V38l-18-10-17 10zM1535 53v13l10 6 11-6V53l-11-6-10 6z"/><path d="M1504 28V0h64v28l-32 18-27-16-5-2z"/><path d="M1538 3V0h58v3l-5 3-8 4-5 3-11 6-16-9-13-7z"/><path d="M1625 44v19l17 9 16-9V44l-16-10-17 10z" opacity=".5"/><path d="M1163 43V5l8-5h50l8 5v38l-33 19-33-19zM1323 38v20l-17 10-17-10V38l17-10 17 10z"/><path d="M1356 53v13l-11 6-11-6V53l11-6 11 6z" opacity=".5"/><path d="M1455 67v11l-10 6-9-6V67l9-5 10 5z" opacity=".75"/><path d="M1312 26V0h59v26l-4 2-26 15-29-17z"/><path d="M1294 3V0h58v3l-13 7-16 9-11-6-5-3-8-4-5-3z"/><path d="M1209 3V0h59v3l-13 7-16 9-11-6-6-3-7-4-6-3z" opacity=".5"/><path d="M1265 44v19l-16 9-17-9V44l17-10 16 10z"/><path d="M1083 47V9l16-9h34l16 9v38l-33 19-33-19z" opacity=".75"/><path d="M1013 29V0h58v29l-29 17-29-17z"/><path d="M862 58V10l10-6 7-4h49l13 7 4 3v48l-41 24-42-24z" opacity=".5"/><path d="M989 42v20l17 10 18-10V42l-18-10-17 10zM1143 60v15l13 8 13-8V60l-13-8-13 8z" opacity=".75"/><path d="M1133 0h38l-17 10-2 1-2-1-17-10zM1708 8V0h38v8l-3 2-16 9-16-9-3-2zM1642 8V0h38v8l-3 2-16 9-16-9-3-2zM1774 0h39l-17 10-3 1-2-1-17-10zM1919 0h39l-17 10-3 1-2-1-17-10zM1061 0h38l-17 10-2 1-2-1-17-10zM920 9V0h38v9l-2 1-17 10-17-10-2-1zM853 0h39l-17 10-3 1-2-1-17-10zM359 0h38l-17 10-2 1-2-1-17-10zM278 17V0h39v17l-20 11-19-11zM206 7V0h39v7l-6 3-14 8-8-5-5-3-6-3zM956 58v12l11 7 11-7V58l-11-6-11 6z"/><path d="M941 30V0h59v30l-29 17-26-14-4-3z"/><path d="M960 7V0h58v7l-5 3-13 8-11 6-24-14-5-3z"/><path d="M1047 48v19l17 10 16-10V48l-16-9-17 9z" opacity=".5"/><path d="M806 41V3l6-3h55l5 3v38l-10 6-23 13-33-19z"/><path d="M736 23V0h59v23l-29 17-30-17zM585 52V4l6-3 1-1h71l2 1 4 3v48l-42 24-36-21-6-3zM713 36v20l17 10 17-10V36l-17-10-17 10z" opacity=".5"/><path d="M680 52v12l11 7 11-7V52l-11-6-11 6zM665 24V0h59v24l-30 17-25-15-4-2z"/><path d="M683 1V0h59v1l-6 3-10 6-2 2-11 6-14-8-16-9zM778 1V0h59v1l-6 3-10 6-2 2-11 6-14-8-16-9z"/><path d="M771 42v19l16 10 16-10V42l-16-9-16 9z" opacity=".75"/><path d="M309 41V3l5-3h55l6 3v38l-33 19-33-19z" opacity=".5"/><path d="M386 23V0h59v23l-29 17-30-17zM512 52V4l4-3 3-1h71l1 1 5 3v48l-5 3-37 21-42-24z"/><path d="M469 36v20l-18 10-17-10V36l17-10 18 10z" opacity=".75"/><path d="M501 52v12l-11 7-10-7V52l10-6 11 6z" opacity=".5"/><path d="M600 66v11l-9 5-10-5V66l10-6 9 6z"/><path d="M458 24V0h58v24l-4 2-25 15-29-17z" opacity=".75"/><path d="M439 1V0h59v1l-16 9-13 8-11-6-3-2-10-6-6-3z" opacity=".75"/><path d="M410 42v19l-16 10-16-10V42l16-9 16 9z" opacity=".5"/><path d="M228 43V5l9-5h49l8 5v38l-33 19-33-19z"/><path d="M158 24V0h59v24l-29 17-30-17z" opacity=".5"/><path d="M13 54V5l9-5h65l5 3 4 2v49L55 78 13 54zM135 38v20l17 10 17-10V38l-17-10-17 10z"/><path d="M102 54v12l11 6 11-6V54l-11-7-11 7zM3 68v11l10 5 9-5V68l-9-6-10 6z" opacity=".5"/><path d="M87 26V0h59v26l-30 17-25-15-4-2z" opacity=".75"/><path d="M105 3V0h59v3l-6 3-7 4-5 3-11 7-17-10-13-7zM0 9V0h42l-4 5-4 5-9 11-12-6-7-3-3-2-3-1z"/><path d="M193 44v19l16 9 16-9V44l-16-9-16 9z" opacity=".75"/><path d="M292 55v15l12 7 13-7V55l-13-7-12 7z"/><path d="M1367 54V5l4-2 5-3h65l4 2 6 3v49l-6 3-36 21-42-24z" opacity=".75"/><path d="M1998 10l2 1V0h-20l18 10z"/><path d="M1241 24V0h58v24l-29 17-29-17z" opacity=".5"/></g></svg>');
}


@media (min-width:685px) {
	.shapedividers_com-9802::before {
		bottom: -0.1vw;
		left: -0.1vw;
		right: -0.1vw;
		top: -0.1vw;
		background-size: 47px 150%;
		background-position: 100% 50%;
		background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="xMinYMid slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 84 2000.4"><g fill="%239f81cd"><path d="M35 63h38l1-1 10-17V16L75 0H34L16 30l19 33z" opacity=".5"/><path d="M54 133h30V74H54l-17 30 17 29z"/><path d="M24 284h49l1-2 5-8 5-9v-45l-9-15-1-2-1-2H24L0 242l24 42zM40 157H20l-10-17 10-18h20l10 18-10 17z" opacity=".75"/><path d="M25 189H12l-6-10 6-11h13l6 11-6 10z"/><path d="M52 205h32v-59H52l-17 29 15 26 2 4z" opacity=".5"/><path d="M75 186h9v-59h-9l-1 3-2 3-7 13-6 11 15 27 1 2zM34 99H15L6 82l9-16h19l10 16-10 17zM41 340h38l5-8v-50l-5-8H41l-6 10-13 23 19 33z"/><path d="M60 410h24v-59H60l-17 29 17 30z" opacity=".5"/><path d="M30 569h49l3-5 2-4v-66l-3-5-2-4H30L6 527l21 37 3 5zM46 433H26l-10-17 10-17h20l10 17-10 17zM31 466H18l-6-11 6-11h13l6 11-6 11z"/><path d="M56 496h28v-63H56l-18 31 16 28 2 4z"/><path d="M82 463h2v-59h-2l-4 6-4 7-3 5-6 11 9 17 8 13z"/><path d="M40 375H21l-9-16 9-17h19l10 17-10 16z" opacity=".5"/><path d="M41 837h38l5-8v-50l-5-8H41l-19 33 19 33zM46 677H26l-10 18 10 17h20l10-17-10-18z"/><path d="M31 645H18l-6 10 6 11h13l6-11-6-10z" opacity=".5"/><path d="M17 546H6l-6 9 6 10h11l5-10-5-9z" opacity=".75"/><path d="M58 688h26v-58H58l-2 4-15 25 17 29z"/><path d="M82 707h2v-59h-2l-8 13-9 16 6 11 3 6 4 7 4 6z"/><path d="M82 791h2v-58h-2l-8 13-9 16 6 11 3 5 4 8 4 5z" opacity=".5"/><path d="M40 736H21l-9 16 9 16h19l10-16-10-16z"/><path d="M37 918h38l9-16v-35l-9-15H37l-19 33 19 33z" opacity=".75"/><path d="M55 988h29v-59H55l-17 29 17 30z"/><path d="M26 1139h48l6-11 4-6v-50l-7-13-3-4H26l-24 42 24 42z" opacity=".5"/><path d="M42 1011H22l-10-17 10-17h20l10 17-10 17zM24 858H9l-8-14 8-13h15l8 13-8 14z" opacity=".75"/><path d="M84 868v-39l-10 17-1 2 1 3 10 17zM76 293h8v-39h-8l-2 3-9 17 9 16 2 3zM76 359h8v-39h-8l-2 3-9 17 9 16 2 3zM84 226v-38l-10 17-1 2 1 2 10 17zM84 81V43L74 60l-1 2 1 2 10 17zM84 940v-39l-10 17-1 2 1 3 10 17zM75 1081h9v-39h-9l-1 3-10 16 10 17 1 3zM84 1147v-38l-10 17-1 2 1 2 10 17zM84 1642v-39l-10 17-1 2 1 3 10 17zM67 1722h17v-38H67l-11 19 11 19zM77 1794h7v-38h-7l-3 5-8 14 5 8 3 6 3 5zM26 1044H14l-7-11 7-11h12l6 11-6 11z"/><path d="M54 1059h30v-59H54l-17 30 15 25 2 4z"/><path d="M77 1041h7v-59h-7l-3 5v1l-8 12-6 11 14 24 3 6z"/><path d="M36 953H17L7 937l10-17h19l9 17-9 16z" opacity=".5"/><path d="M43 1194h38l3-5v-56l-3-5H43l-6 11-13 22 19 33z"/><path d="M61 1264h23v-59H61l-17 30 17 29zM32 1415h48l3-5 1-1v-71l-1-3-3-4H32l-24 42 21 37 3 5zM48 1288H28l-10-18 10-17h20l10 17-10 18z" opacity=".5"/><path d="M32 1320H20l-6-10 6-11h12l6 11-6 10zM60 1335h24v-58H60l-17 29 15 25 2 4z"/><path d="M83 1317h1v-59h-1l-3 6-6 10-2 3-6 11 8 13 9 16zM83 1222h1v-59h-1l-3 6-6 10-2 3-6 11 8 13 9 16z"/><path d="M42 1230H23l-9-17 9-16h19l9 16-9 17z" opacity=".75"/><path d="M43 1691h38l3-5v-55l-3-5H43l-19 32 19 33z" opacity=".5"/><path d="M61 1614h23v-59H61l-17 30 17 29zM32 1488h48l3-4 1-2v-71l-1-1-3-6H32l-3 6-21 36 24 42z"/><path d="M48 1532H28l-10 17 10 17h20l10-17-10-17z" opacity=".75"/><path d="M32 1499H20l-6 11 6 11h12l6-11-6-11z" opacity=".5"/><path d="M18 1400H7l-5 10 5 9h11l6-9-6-10z"/><path d="M60 1543h24v-59H60l-2 4-15 25 17 30z" opacity=".75"/><path d="M83 1561h1v-59h-1l-9 16-8 14 6 11 2 2 6 10 3 6z" opacity=".75"/><path d="M42 1590H23l-9 16 9 17h19l9-17-9-16z" opacity=".5"/><path d="M41 1772h38l5-8v-50l-5-8H41l-19 33 19 33z"/><path d="M60 1842h24v-59H60l-17 30 17 29z" opacity=".5"/><path d="M30 1988h49l5-10v-65l-3-5-2-4H30l-24 42 24 42zM46 1866H26l-10-17 10-18h20l10 18-10 17z"/><path d="M30 1898H18l-6-10 6-11h12l7 11-7 10zM17 1997H6l-6-9 6-10h11l5 10-5 9z" opacity=".5"/><path d="M58 1913h26v-58H58l-17 29 15 25 2 4z" opacity=".75"/><path d="M81 1895h3v-59h-3l-3 6-4 7-3 6-7 11 10 16 7 13zM75 2000h9v-42l-5 4-5 5-11 9 6 12 3 7 2 3 1 2z"/><path d="M40 1808H21l-9-17 9-16h19l9 16-9 17z" opacity=".75"/><path d="M29 1709H14l-7-13 7-12h15l7 12-7 13z"/><path d="M30 634h49l2-4 3-5v-66l-2-4-3-5H30l-3 5-21 37 24 42z" opacity=".75"/><path d="M74 3l-1-2V0h11v20L74 3z"/><path d="M60 760h24v-59H60l-17 29 17 30z" opacity=".5"/></g></svg>');
	}
}