/* CONTACT SECTION */
/* MOBILE STYLE */

input,
textarea,
select {
	font-weight: 300;
}

#contact {
	padding: 5rem 0 0 0;
	position: relative;
	box-sizing:border-box;
	height: 100vh;
}

#contact-header p:first-child {
	font-size: 2rem;
	font-weight: 300;
	padding: 2rem 0 0 2rem;
	text-decoration: underline;
	margin: 0;
}
#contact-header p:nth-child(2) {
	padding: 0 0 0 2rem;
	font-weight: 300;
	font-style: italic;
}

#contact-form-wrapper {
	padding: 1rem 0 0 2rem;
}

.input-field {
	border: none;
	height: 2rem;
	border-bottom: 3px solid #f198af;
}

.input-field:focus {
	outline-color: #f198af;
}

#name,
#email,
#topic {
	margin: 0 0 1rem 0;
	margin: 0 0 1rem 0;
	width: 50%;
}

#message-input {
	width: 75%;
	height: 10rem;
}
#message-box{
	position:relative;
}

::selection {
	background: #766dc1;
	color: #fbd1d3;
	border-radius: 3px;
}

.highlight::selection {
	color: white;
}

::-moz-selection {
	background: #766dc1;
	color: #fbd1d3;
	border-radius: 3px;
}

#send-message-button {
	margin: 1rem 0 0 0;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	background-color: #9f81cd;
	color: white;
	border: none;
	border-radius: 2px;
	transition: 0.1s;
	position: relative;
	overflow: hidden;
}


#res-message {
	margin: 1rem 0;
	height: 1rem;
}


/* DESKTOP STYLE */

@media screen and (min-width:865px) {
	#contact {
	padding: 2rem 0 0 0;

}
}
