html,
body {
	margin: 0;
	font-family: 'Lexend', sans-serif;
	background-color: #f6ebff;
	width: 100%;
	box-sizing: border-box;
}

button,
input,
textarea,
select {
	font-family: 'Lexend', sans-serif;
	position: relative;
}

a {
	text-decoration: none;
}

.hidden {
	display: none;
}

button:hover,
#send-message-button:hover {
	color: #f198af;
	transition: 0.3s;
	cursor: pointer;
}

footer {
	background-color: #9f81cd;
	height: 3rem;
	width: 100%;
	text-align: center;
	border-top: 3px solid rgb(241, 152, 175);
}

footer p {
	margin: 0;
	padding: 0.5rem 0;
	position: relative;
	bottom: 0;
}

span.ripple {
	position: absolute;
	border-radius: 50%;
	transform: scale(0);
	animation: ripple 0.6s ease-out;
	background-color: #ebb2d6;
}

@keyframes ripple {
	to {
		transform: scale(4);
		opacity: 0;
	}
}

/* NAVBAR */

/* MOBILE STYLE */
#navbar {
	background-color: #9f81cd;
	height: 3rem;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 2;
	border-bottom: 3px solid #f198af;
	overflow: hidden;

}

#navbar ul {
	display: flex;
	margin: auto;
	height: 100%;
	text-align: center;
	justify-content: start;

}

#navbar ul li {
	list-style: none;
	padding: 0 0.2rem;
	transition: 0.3s;
}

.nav-button {
	border: none;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	font-size: .8rem;
	transition: 0.2s;
}
.nav-button-active {
	color: #f198af;
	text-shadow: 0px 0px 1px black;
	transition: 0.3s;
}

/* DESKTOP */
@media screen and (min-width: 685px) {
	#navbar ul li {
		padding: 0 0.5rem;
	}
	
	#navbar {
		padding: 0 15%;
	}

	.nav-button {
		font-size: 1.5rem;
	}
	section#about{ 
		padding: 0 15%;
	}
	
	
}