/* ----------- SKILL SECTION -------- */
/* MOBILE */

#skill-section {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 3rem;
}


#skill-selector {
	text-align: left;
	margin: 0;
	width: 100%;
}

#skill-list {
	padding: 0px;
	display: inline;


}

hr {
	display: none;
}

.skill-li {
	background-size: 200% 100%;
	color: white;
	background-image: linear-gradient(to right, #9f81cd 50%, #f198af 50%);
	font-size: 1.5rem;
	list-style: none;
	cursor: pointer;
	transition: 250ms ease-in-out;
	padding: 10px;
	width: 100%;
	white-space: nowrap;
	box-sizing: border-box;
}

.active-skill {
	color: black;
	background-position: 100% 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.skill-li:hover {
	color: black;
	transition: 250ms ease-in-out;
	background-position: -100% 0;
}




/* SKILL SAMPLE DISPLAY */
#sample-container {
	border: 3px solid #f198af;
	width: 100%;
}

/* DESKTOP */

@media screen and (min-width: 685px) {

	#skill-selector {
		width: 50%;
		min-width: fit-content;
	}

	#sample-container {
		width: 50%;
		box-sizing: border-box;

	}






	/* SKILL CARDS */


}