<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>3D Text animation</title>
    <link rel="stylesheet" href="../../stylesheets/3dtext.css">
  </head>
  <body>
	<h1>
		Press any key
	  </h1>
	  <div id="display-wrapper">
		  
	  </div>
	<script src="../../js/3dtext.js"></script>	  
  </body>
</html>