<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Basketball API Sample</title>
		<link rel="stylesheet" href="../../stylesheets/basketball.css" />
	</head>
	<body>
		<div id="display-wrapper">
			<div id="header">
				<h1>
					Pick a team and year to view a games box score:
				</h1>
			</div>
			<form>
				<select name="season" id="season-select">
					<%seasons.forEach((season)=>{%>
					<option value="<%=season%>"><%=season%></option>
					<%})%>
				</select>
				<select name="team" id="team-select">
					<%teams.forEach((team)=>{%>
					<option value="<%=team.id%>"><%=team.name%></option>
					<%})%>
				</select>
				<button type="submit" id="find-team">Find Team Stats</button>
			</form>
			<div id="response-wrapper"></div>
			<div id="box-score-wrapper"></div>
			<div id="leader-wrapper">
				<h3>
					Game Leaders
				</h3>
				<table>
					<thead>
						<tr>
							<th colspan="3" id="v-team"></th>
							<th colspan="3" id="h-team"></th>
						</tr>
						<tr>
							<th>POINTS</th>
							<th>REBOUNDS</th>
							<th>ASSISTS</th>
							<th>POINTS</th>
							<th>REBOUNDS</th>
							<th>ASSISTS</th>
						</tr>
					</thead>
					<tr id="player-name-display">
						<td id="v-team-points"></td>
						<td id="v-team-rebounds"></td>
						<td id="v-team-assists"></td>
						<td id="h-team-points"></td>
						<td id="h-team-rebounds"></td>
						<td id="h-team-assists"></td>
					</tr>
				</table>
			</div>
			<div id="player-stat-wrapper">
				<h3>
					Individual Player Stats
				</h3>
				<p>
				Please note: Player Names are not immediately available because the API requires a callback for EVERY ID. I love you but this is a free API. Click the playerId number if you want to know who it is. 
				</p>
			<div id="stat-table">
				
			</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="../../js/basketball.js"></script>
	</body>
</html>